@import "@{templateCommon}/basekit-bootstrap.less";



@desktop: ~"only screen and (min-width : 769px)";

@import "@{templateLocal}/css/shame.less";


@block-v-space: 30px;
@body-h-margin: 10px;


// =============================================================================================

body {
	background: @color-swatch1;
	padding: 0 @body-h-margin;
}


// Content width
.footer .sub, .container-sub {
	max-width: 1100px;
	margin: 60px auto;
	padding: 0 16px;
}

.container {
	background: @color-swatch2;
	max-width: 1200px;
	margin: 0 auto 84px;
	
}


.footer {
	background: @color-swatch4;
	color: @color-swatch2;
	margin: 0 -(@body-h-margin);

	p, ul, ol, li, .p-font {
		color: @color-swatch2;
	}

	.copyright {
		text-align: center;
		color: darken(@color-swatch2, 16%);
		background: lighten(@color-swatch4, 16%);
		font-size: 0.8em;
		padding: 1px 0;
		.widget.profile {
			max-width: 1100px;
			margin: 0 auto;
			padding: 0 16px;
			form {
				margin: 0.5em;
			}
		}
		.bk-profile-address p {
			display: inline-block;
		}
	}
}


// Vertical spacing for major elements
.block {
	padding: 20px 40px;
	margin-bottom: @block-v-space;
	@media @tablet {
		padding: 10px 20px;
		margin-bottom: (@block-v-space / 2);
	}
	@media @mobile {
		padding: 10px;
		margin-bottom: (@block-v-space / 3);
	}
}


// COLOR SWATCHES =============================================================================================


// =============================================================================================

// Typography
blockquote {
	font-family: @font-swatch3-font-family;
    font-weight: @font-swatch3-font-weight;
    color: @font-swatch5-color;
    line-height: @font-swatch3-line-height;
    letter-spacing: @font-swatch3-letter-spacing;
    font-size: bkscale(@font-swatch3-font-size, 0.6);
	&:before {
		color: @color-swatch1;
	}
}

// Headings

h1 {
	@media @tablet {
		font-size: bkscale(@font-swatch1-font-size, 0.9);
		line-height: bkscale(@font-swatch1-line-height, 0.9);
	}
	@media @mobile {
		font-size: bkscale(@font-swatch1-font-size, 0.8);
		line-height: bkscale(@font-swatch1-line-height, 0.8);
	}
}

h2 {
	@media @tablet {
		font-size: bkscale(@font-swatch2-font-size, 0.9);
		line-height: bkscale(@font-swatch2-line-height, 0.9);
	}
	@media @mobile {
		font-size: bkscale(@font-swatch2-font-size, 0.8);
		line-height: bkscale(@font-swatch2-line-height, 0.8);
	}
}

h3 {
	@media @tablet {
		font-size: bkscale(@font-swatch3-font-size, 0.9);
		line-height: bkscale(@font-swatch3-line-height, 0.9);
	}
	@media @mobile {
		font-size: bkscale(@font-swatch3-font-size, 0.8);
		line-height: bkscale(@font-swatch3-line-height, 0.8);
	}
}

h4 {
	font-size: bkscale(@font-swatch4-font-size, 0.8);
	line-height: bkscale(@font-swatch4-line-height, 0.8);
}

h5 {
	font-size: bkscale(@font-swatch4-font-size, 0.5);
}


p, ul, ol, li, .p-font {
	@media @tablet {
		font-size: bkscale(@font-swatch5-font-size, 0.9);
		line-height: bkscale(@font-swatch5-line-height, 0.9);
	}
	@media @mobile {
		font-size: bkscale(@font-swatch5-font-size, 0.8);
		line-height: bkscale(@font-swatch5-line-height, 0.8);
	}
}



// MAIN LAYOUT =============================================================================================

// Header Profile

.header-profile {
	padding-top: (@block-v-space / 2);
	background: @color-swatch1;
	color: @color-swatch4;
	padding-bottom: 10px;
	@media @mobile {
			padding-bottom: 26px;
		}
	&, p {
		font-family:  @font-swatch7-font-family;
		font-size: bkscale(@font-swatch5-font-size, 1);
		line-height: @font-swatch4-line-height;
		color: @color-swatch4;
		@media @tablet {
			font-size: bkscale(@font-swatch5-font-size, 0.8);
		}
		@media @mobile {
			font-size: bkscale(@font-swatch5-font-size, 0.7);
			line-height: bkscale(@font-swatch4-line-height, 0.7);

		}
	}

	.widget.profile {
		margin-bottom: (@block-v-space / 4);
		line-height: 1.5;
		@media @mobile {
			margin-bottom: 0;
		}
		p {
			display: inline-block;
		}
	}

	a {
		color: @color-swatch4;
		border-bottom: 1px solid @color-swatch4;
		padding-bottom: 2px;
		&:hover {
			text-decoration: none;
		}
	}

	.widget.profile form {
		margin: 0;
	}

	


	@media @mobile {
		.responsivecolumns {
			div {
				text-align: center;
				margin-bottom: 0;
			}
		}
	}
	
}


.header {
	text-align: center;

	// Company logo
	.widget.logo {
		margin-bottom: -20px;
		&:before {
			content: '';
			display: block;
			height: 60px;
			width: 100%;
			position: absolute;
			left: 0;
			top: 0;
			background: @color-swatch1;
		}
		img {
			display: block;
			@media @tablet {
				-webkit-transform: scale(0.75);
				-moz-transform: scale(0.75);
				-o-transform: scale(0.75);
				-ms-transform: scale(0.75);
				transform: scale(0.75);
			}
		}
		a {
			display: inline-block;
			position: relative;
		}

	}

	// Company name
	.companyname {
		margin-bottom: 30px;
		margin-left: 0.5em;
		margin-right: 0.5em;
		margin-top: 20px;

		@media @tablet {
			margin-bottom: 10px;
		}
		a {
			@media @tablet {
				font-size: bkscale(@font-swatch10-font-size, 0.7);
				line-height: bkscale(@font-swatch10-line-height, 0.7);				
			}
			@media @mobile {
				font-size: bkscale(@font-swatch10-font-size, 0.4);
				line-height: bkscale(@font-swatch10-line-height, 0.4);	
			}
		}
		
	}
}



.pt-default .header {
	border-bottom: 1px solid @color-swatch1;
}







// FORMS =============================================================================================

// ======= Form: Button
button.btn, .widget.feature .btn, input.widget.button, .widget.tweet .tweet a, .widget.blogsearch form button, .widget.socialicons span a, .bk-profile-socialicons span a,
.checkout-order-button, .contactform button.btn, .widget.ecomcheckout .checkout-order-button, .ecom-product-go-to-checkout-btn {
	background-color: @color-swatch3;
	box-shadow: 0px 3px 0px 0px darken(@color-swatch3, 10%);
	color: @color-swatch2;
	&:hover {
		background-color: lighten(@color-swatch3,20%);
		text-decoration: none;
	}
}

// ======= Form: Select
.widget.ecomproductslist .productlist-filter,
.widget.ecomcheckout .delivery,
.widget.ecomproduct .ecom-product .ecom-product-info .ecom-product-variation
{
	& select {
		-moz-appearance: none;
		text-indent: 0.01px;
		-webkit-appearance: none;
		text-overflow: '';
		cursor: pointer;
		position: relative;
		background-image: image('/images/ui-select.png');
		background-repeat: no-repeat;
		background-position: right center;
		margin: 0;
		padding: 8px 33px 8px 8px;
		border: 1px solid @color-swatch3;
		background-color: @color-swatch2;
		color: @color-swatch5;
		height: 35px;
		width: 100%;
		border-radius: 0;
		position: relative;
		border-radius: 0;
		
	}
}

// Hides *custom* dropdown arrow in Firefox 30 and above
@supports (-moz-appearance:meterbar) and (background-blend-mode:difference,normal) {
	.widget.ecomproductslist .productlist-filter,
	.widget.ecomcheckout .delivery,
	.widget.ecomproduct .ecom-product .ecom-product-info .ecom-product-variation {
		& select {
			background-image: none;
		}
	}
}

// COMMON WIDGETS =============================================================================================







// ======= Widget: EXTENDED NAVIGATION





@extendednavigation-bottom-m: 44px;
@extendednavigation-pull-vm: 10px;

// Cancel floating
div.widget .extendednavigation ul.align-left, div.widget.extendednavigation ul.align-left,
div.widget .extendednavigation ul.align-right, div.widget.extendednavigation ul.align-right {
	float: none !important;
}

.widget.extendednavigation {
	margin-bottom: @extendednavigation-bottom-m;
	ul {
		&.align-center, &.align-left, &.align-right {
			
		}
		
		@media @tablet {
			padding-top: (@pull-icon-size + 20);
		}

		// Menu aligning
		&.align-center {
			text-align: center;
		}
		&.align-left{
			text-align: left;
		}
		&.align-right {
			text-align: right;
		}

		// Menu Item
		li {
			float: none;
			display: inline-block;

			// Folder item
			&.folder {
				.text {
					padding: 0 20px;
					@media @tablet {
						font-size: bkscale(@font-swatch6-font-size, 0.8);
						padding: 0 15px;
					}
				}
				margin-right: 0;
				&:after {
					display: none;
				}
				@media @tablet {
					padding: @extendednavigation-pull-vm 0;
				}
				// Folder arrow icon
				& > .text:after {
					display: inline-block;
                    content: "";
                   	width: 0;
                   	height: 0;
                    border: 6px solid transparent;
                    border-top-color: @font-swatch6-color;
                    margin-left: 0.4em;
				}
			}

		

			@media @tablet {
				border-top: 1px solid lighten(@color-swatch1, 20%);
				padding: 0;
			}

			
			
			// Folder open
			// drop icon
			&:hover ul:before {
				@drop-icon-size: 8px;
				content: "";
               	width: 0;
               	height: 0;
                border: @drop-icon-size solid transparent;
                margin-left: -(@drop-icon-size / 2);
                border-bottom-color: @color-swatch1;
                display: block;
                position: absolute;
                left: 50%;
                top: -(@drop-icon-size + 10);
			}
			&:hover ul {
				padding: 0;
				background: @color-swatch2;
				box-shadow: 0px 2px 8px 0px rgba(0,0,0,0.10);
				border-top: 4px solid @color-swatch1;

				li a {
					padding-top: @extendednavigation-pull-vm;
					padding-bottom: @extendednavigation-pull-vm;
				}
				
				@media @tablet {
					bbox-shadow: none;
					display: block;
					position: relative;
					z-index: 500;
					padding: 0;
					margin: @extendednavigation-pull-vm 0 -(@extendednavigation-pull-vm + 3) 0;
					min-width: 140px;
					box-shadow: none;
					border-bottom: 4px solid @color-swatch1;
				}
			}

			// Link
			a {
				
				-webkit-transition: color 0.25s linear;
				-moz-transition: color 0.25s linear;
				-o-transition: color 0.25s linear;
				transition: color 0.25s linear;
				
				@media @tablet {
					padding: @extendednavigation-pull-vm 0;
					font-size: bkscale(@font-swatch6-font-size, 0.8);
				}

				.text {
					@media @tablet {
						display: block;
						padding: 0 15px;
					}
				}
				

				// Top and Bottom Lines
				&:before, &:after {
					content: "";
					display: block;
					height: 4px;
					width: 80%;
					margin-left: 10%;
					opacity: 0;
					-webkit-transition: all 0.25s linear;
					-moz-transition: all 0.25s linear;
					-o-transition: all 0.25s linear;
					transition: all 0.25s linear;
					@media @tablet {
						display: none;
					}
				}

				&:before {
					-webkit-transform: translate(0px, -10px);
					-moz-transform: translate(0px, -10px);
					-o-transform: translate(0px, -10px);
					-ms-transform: translate(0px, -10px);
					transform: translate(0px, -10px);
				}
				&:after {
					-webkit-transform: translate(0px, 10px);
					-moz-transform: translate(0px, 10px);
					-o-transform: translate(0px, 10px);
					-ms-transform: translate(0px, 10px);
					transform: translate(0px, 10px);
				}
			}

			a:hover {
				
				// Top and Bottom Lines
				&:before, &:after {
					content: "";
					display: block;
					height: 4px;
					width: 80%;
					margin-left: 10%;
					background: @color-swatch1;
					opacity: 1;
					@media @tablet {
						display: none;
					}
				}
				&:before {
					-webkit-transform: translate(0px, 0);
					-moz-transform: translate(0px, 0);
					-o-transform: translate(0px, 0);
					-ms-transform: translate(0px, 0);
					transform: translate(0px, 0);
				}
				&:after {
					-webkit-transform: translate(0px, 0);
					-moz-transform: translate(0px, 0);
					-o-transform: translate(0px, 0);
					-ms-transform: translate(0px, 0);
					transform: translate(0px, 0);
				}
			}
		}
	}

	// Pull Menu
	@pull-icon-size: 60px;
	@pull-icon-hamburger-size: 36px;


	a.pull {
	    display: none;
	    @media @tablet {
	        display: block;
	        margin: 0 0 0 -(@pull-icon-size /2);
	        width: @pull-icon-size;
	        height: @pull-icon-size;
	        position: absolute;
	        top: 7px;
	        left: 50%;
			background: @color-swatch3;
			border-radius: 50%;

	        &:hover {
	           cursor: pointer;
	        }
	        &:after, &:before {
	            content: '';
	            position: absolute;
	            width: @pull-icon-hamburger-size;
	            height: 3px;
	            background: @color-swatch2;
	            top: 50%;
	            left: 50%;
	            margin: -(@pull-icon-hamburger-size / 4.4) 0 0 -(@pull-icon-hamburger-size / 2);
	            box-shadow: 0 6px 0 @color-swatch2, 0 12px 0 @color-swatch2;
	        }
	        &:before {
	        	display: none;
	        }
        }
    }

	// Pull Menu Open
	ul.open {
		margin-bottom: -(@extendednavigation-bottom-m);
	}

    ul[style*="display: block"] + a.pull {
    	 @media @tablet {
    	 	// Cross
    	 	&:after, &:before {
    	 		  box-shadow: none;
    	 		  margin: -(@pull-icon-hamburger-size / 11) 0 0 -(@pull-icon-hamburger-size / 2);
    	 	}
    	 	// Cross Line 1
    	 	&:after {
	            -webkit-transform: rotate(45deg);
				-moz-transform: rotate(45deg);
				-o-transform: rotate(45deg);
				-ms-transform: rotate(45deg);
				transform: rotate(45deg);
    	 	}
    	 	// Cross Line 2
    	 	&:before {
    	 		display: block;
	            -webkit-transform: rotate(-45deg);
				-moz-transform: rotate(-45deg);
				-o-transform: rotate(-45deg);
				-ms-transform: rotate(-45deg);
				transform: rotate(-45deg);
    	 	}
    	 }
    }
}





// ======= Widget: Featured Item
.feature.widget {
	text-align: center;
	@media @tablet {
		margin-top: @block-v-space + 16px;
	}
	.feature-bgimg {
		.content {
			padding: 0.5em 1em;
			.spare.wrapper {
				// Header Text
				h2 {
					color: @color-swatch4;
					span {
						display: inline-block;
						color: @color-swatch4;
						background: @color-swatch1; 
						padding: 0.4em 0.6em;
					}
				}
				// Strapline Text
				h3 {
					span {
						display: inline-block;
						color: @color-swatch2;
						background: rgba(0, 0, 0, 0.5);
						padding: 0.4em 0.6em;
					}
				}
				// Feature Button
				.feature-btn {
					button.btn {
						.btnText {

						}
					}
				}
			}
		}
	}
}






// ======= Widget: Sign up form
.widget.signupform {
	margin-bottom: @block-v-space;
	label {
		font-size: bkscale(@font-swatch3-font-size, 0.6);
	}
	input.email {
		box-shadow: 0px 3px 0px 0px darken(@color-swatch2, 10%);
		height: 46px;
		vertical-align: top;
	}
}





.widget.signupform {
 

  
  .widget.signupform fieldset {
    padding: 0;
    border: 0;
    margin: 0;
  }


  .form-group {
    // Flex
    display: -webkit-box;
      display: -moz-box;
      display: -ms-flexbox;
      display: -webkit-flex;
      display: flex;
      -webkit-box-direction: normal;
      -moz-box-direction: normal;
      -webkit-box-orient: horizontal;
      -moz-box-orient: horizontal;
      -webkit-flex-direction: row;
      -ms-flex-direction: row;
      flex-direction: row;
      -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
      flex-wrap: wrap;
      -webkit-box-pack: justify;
      -moz-box-pack: justify;
      -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
      justify-content: space-between;
      -webkit-align-content: stretch;
      -ms-flex-line-pack: stretch;
      align-content: stretch;
      -webkit-box-align: center;
      -moz-box-align: center;
      -webkit-align-items: center;
      -ms-flex-align: center;
      align-items: center;

     

      label {
        // Flex
      -webkit-box-ordinal-group: 1;
        -moz-box-ordinal-group: 1;
        -webkit-order: 0;
        -ms-flex-order: 0;
        order: 0;
        -webkit-box-flex: 0;
        -moz-box-flex: 0;
        -webkit-flex: 0 1 auto;
        -ms-flex: 0 1 auto;
        flex: 0 1 auto;
        -webkit-align-self: auto;
        -ms-flex-item-align: auto;
        align-self: auto;

      // Layout
        float: none;
        width: auto;
        margin: 0 1em 0 0;

        @media @mobile {
          display: block;
          width: 100%;
        }
    }

    input.email {
       -webkit-box-ordinal-group: 1;
        -moz-box-ordinal-group: 1;
        -webkit-order: 0;
        -ms-flex-order: 0;
        order: 0;
        -webkit-box-flex: 1;
        -moz-box-flex: 1;
        -webkit-flex: 1 1 auto;
        -ms-flex: 1 1 auto;
        flex: 1 1 auto;
        -webkit-align-self: auto;
        -ms-flex-item-align: auto;
        align-self: auto;
    }
    button {
       -webkit-box-ordinal-group: 1;
        -moz-box-ordinal-group: 1;
        -webkit-order: 0;
        -ms-flex-order: 0;
        order: 0;
        -webkit-box-flex: 0;
        -moz-box-flex: 0;
        -webkit-flex: 0 1 auto;
        -ms-flex: 0 1 auto;
        flex: 0 1 auto;
        -webkit-align-self: auto;
        -ms-flex-item-align: auto;
        align-self: auto;
    }
  }
}


// ======= Widget: SoundCloud
.widget.soundcloud {
	margin-bottom: @block-v-space;
}



// ======= Widget: ContactForm
.contactform.widget {
	.block;
	background: fade(@color-swatch1, 35%);
	border-top: 45px solid @color-swatch2;
	padding-top: 0;
	text-align: center;
	// Message icon
	@message-icon-size: 90px;
	&:before {
		display: block;
		content: '';
		width: @message-icon-size;
		height: @message-icon-size;
		background-image:  image('/images/icon-message.png');
		background-repeat: no-repeat;
		background-position: center;
		background-color: @color-swatch3;
		margin: 0 auto;
		border-radius: 50%;
		position: relative;
		top: -(@message-icon-size / 2);
		margin-bottom: -(@message-icon-size / 2);
		@media @tablet {
			width: (@message-icon-size / 2);
			height: (@message-icon-size / 2);
			background-size: 50%;
			top: -(@message-icon-size / 4);
		}
	}
	label {
		font-size: bkscale(@font-swatch3-font-size, 0.6);
		text-align: left;
	}
	input {
		margin-bottom: 1em;
	}
	input, textarea {
		&:focus {
			border-color: @color-swatch1;
			background-color: lighten(@color-swatch1, 45%);
		}
	}
}




// ======= Widget: Content
.content.widget {
	.block;
	padding-left: 0;
	margin-bottom: @block-v-space;
}

// ======= Widget: Profile
.widget.profile {
	form fieldset {
		input {
			background: @color-swatch2;
			border: 1px solid darken(@color-swatch2,10%);
		}
	}
	.bk-profile-address {
		p {
			&:after {
				content: ",";
			}
			&:last-child:after {
				content: "";
				margin: 0;
			}
		}
	}
}

// Social icons
.header-profile .widget.profile .bk-profile-socialicons {
	margin: 0;
}
.widget.socialicons a,
.widget.profile .bk-profile-socialicons a {
    text-decoration: none;
    text-indent: 9999px;
    white-space: nowrap;
    overflow: hidden;
}

// ======= Widget: responsiveslideshow
.widget.responsiveslideshow {
	margin-bottom: @block-v-space;

	// Dot
	.slideshow-widget-controls .dot {
		border-radius: 50%;
		background: @color-swatch3;
		margin: 0 6px;
		&.selected {
			background: @color-swatch1;
			border: none;
		}
	}
	.slideshow-widget {

		// Buttons prev/next
		.btn-next, .btn-prev {
			background-color:  @color-swatch3;
			overflow: hidden;
			color: @color-swatch2;
			font-family:  @font-swatch7-font-family;
			@media @mobile {
				text-indent: 900px;
				overflow: hidden;
				width: 2em;
				white-space: nowrap;
			}
		}

		.btn-next {
			padding: 0 0 0 10px;
			right: 0;
		}

		.btn-prev {
			padding: 0 10px 0 0;
			left: 0;
		}

		// Buttons' arrows
		.btn-next:after, .btn-prev:before {
			content: "";
			display: inline-block;
			border: solid transparent;
			content: " ";
			height: 0;
			width: 0;
			pointer-events: none;
			border-color: rgba(0, 0, 0, 0);
			border-width: 10px;
			vertical-align: middle;
			text-indent: 0;
			position: static;
			@media @mobile {
				position: absolute;
				top: 50%;
				left: 0;
				margin-top: -10px;
			}

		}
		.btn-prev:before {
			border-right-color: @color-swatch2;
			margin-right: 0.6em;
		}
		.btn-next:after {
			border-left-color: @color-swatch2;
			margin-left: 0.6em;
		}

		// Button play
		.btn-play {
			background-color:  @color-swatch3;
			color: @color-swatch2;
			min-width: 30px;
			@media @mobile {
				height: 30px;
				top: 44%;
			}
			&:after {
				@media @tablet {
					font-size: 20px;
				}
				@media @mobile {
					line-height: 30px;
				}
			}
		}
	}
	.content-wrapper {
		// (Appears even without content)
		.title, .description {
			color:  @color-swatch1;
			background: fade(@color-swatch4, 16%);
			padding: 0.6em 0.5em;
			display: block;
			
		}
		.title {
			font-weight: bold;
			display: inline-block;
			margin-bottom: 2px;
			font-family:  @font-swatch4-font-family;
			@media @mobile {
				font-size: bkscale(@font-swatch5-font-size, 0.8);
			}
		}
		.description {
			font-size: bkscale(@font-swatch5-font-size, 0.9);
			color:  @color-swatch2;
			@media @mobile {
				display: none;
			}
		}
	}
}


// ======= Widget: Gallery
.widget.gallery {
	margin-bottom: @block-v-space;
	.inner {
		background-color: @color-swatch1;
		.title, .description {
			
			color: @font-swatch7-color;
		}
	}
	.image-data {
		background: fade(@color-swatch7, 80%);
		display: block;
		-webkit-transform: scale(0.1);
		-moz-transform: scale(0.1);
		-o-transform: scale(0.1);
		-ms-transform: scale(0.1);
		transform: scale(0.1);
		-webkit-transition: all 0.2s ease-in-out;
		-moz-transition: all 0.2s ease-in-out;
		-o-transition: all 0.2s ease-in-out;
		transition: all 0.2s ease-in-out;
		opacity: 0;
		position: absolute;
		left: 10px;
		right: 10px;
		top: 10px;
		bottom: 10px;
		height: auto;

	}
	.inner:hover .image-data {
		-webkit-transform: scale(1);
		-moz-transform: scale(1);
		-o-transform: scale(1);
		-ms-transform: scale(1);
		transform: scale(1);
		opacity: 1;
	}
}


// ======= Widget: Twitter

@twitterProfilePicSize: 98px;

.widget.twitter {

  ul.twitter {
    li {
      position: relative;
      min-height: 140px;
      padding: 20px 0;
      border-bottom: 1px dashed #DDDDDD;

      &:last-child {
        border-bottom: none;
        margin-bottom: 0;
      }
     
      // footer
      a, time + span, time {
        font-size: bkscale(@font-swatch5-font-size, 0.8);
        font-family: @font-swatch5-font-family;
        line-height: 1;
        font-weight: normal;
        text-decoration: none;
         color: darken(@color-swatch5,5%);
        @media @mobile {
          font-size: bkscale(@font-swatch5-font-size, 0.6);
        }
      }
      // profile pic
      .twitter-profile-pic {
        width: @twitterProfilePicSize;
        height: @twitterProfilePicSize;
        display: block;
        position: absolute;
        left: 0;
        top: 20px;
        @media @mobile {
          width: (@twitterProfilePicSize * 0.55);
          height: (@twitterProfilePicSize * 0.55);
        }
        
        img {
          width: 100%;
          height: auto;
          display: block;
        }
      }
      .twitter-content {
        line-height: 1.2em;
        margin-left: (@twitterProfilePicSize + 20);
        @media @mobile {
          margin-left: (@twitterProfilePicSize * 0.55 + 12);
        }
        .bk-full-name {
           color: @color-swatch3;
          font-size: bkscale(@font-swatch5-font-size, 1);
          @media @mobile {
            font-size: bkscale(@font-swatch5-font-size, 0.8);
          }
        }
        p {
          font-family: @font-swatch5-font-family;
          color: darken(@color-swatch4,5%);
           font-size: bkscale(@font-swatch5-font-size, 1);
          a {
            font-family: @font-swatch5-font-family;
            font-size: @font-swatch5-font-size;
           color: @color-swatch3;
            line-height: @font-swatch5-line-height;
          }
        }
      }
    }
  }
}




// ======= Widget: Line
.widget.line {
	hr.line {
		background-color: @color-swatch1;
		height: 3px;
	}
}





// ======= Widget: YouTube
.widget.youtube {
	margin-bottom: @block-v-space;
}

// ======= Widget: Map
.widget.map {
	margin-bottom: @block-v-space;
}

// ======= Widget: Profile
.widget.profile {
	form {
		margin-bottom: @block-v-space;
	}
}

// ======= Widget: Image
.widget.image {
	margin-bottom: @block-v-space;
	span {
		color: @font-swatch5-color;
		&.image-title, &.image-description {
			font-size: bkscale(@font-swatch5-font-size, 0.8);
			line-height: 1em;
		}
		&.image-title {
	    	margin-top: 0.8em;
	    }
	    &.image-description {
	    	
	    }
	}
}





// MENU WIDGETS =============================================================================================

// ======= Widget: Menu section
.widget.menusections {
	.menu-section-list {
		border-bottom: 1px solid @color-swatch1;
		text-align: center;
	}
}


// ======= Widget: Menu
.widget.menu {
	.main {
		margin-bottom: @block-v-space;
	}

	// Menu Header
	.menu-header {
		.menu-name-background {
			.menu-name {
				@media @mobile {
					text-align: center;
				}
			}
		}
		.menu-description {
			@media @mobile {
				text-align: center;
			}
		}
	}

	

	
	// MENU ITEM
	.menu-item {

		// Promoted item
		&.menu-item-promoted {
			.inner-item {
				&:before, &:after {
					background-color: @color-swatch1;
					height: 5px;
					display: block;
					width: 80%;
					content: '';
					margin: 1em 10%;
				}
           	}
		}

		// Title
		.menu-item-name {
			color: @color-swatch5;
			@media @tablet {
				font-size: bkscale(@font-swatch3-font-size, 0.8);
			}
			@media @mobile {
				font-size: bkscale(@font-swatch3-font-size, 0.6);
				text-align: center;
			}
		}

		// Image
		.menu-item-image-wrap {
			height: 250px;
			background-size:cover;
	        background-repeat: no-repeat;
	        background-position: center;
	        margin-top: 0.6em;
	        @media @tablet {

	        }
	        @media @mobile {
				max-width: 60%;
				height: 160px;
				margin-left: auto;
				margin-right: auto;
	        }

			img {
				display: none;
			}
		}
		// Price
		.menu-item-price {
			margin: 0.5em 0;
			@media @mobile {
				text-align: center;
			}
			.standard-price {
				font-family:  @font-swatch1-font-family;
				display: inline-block;
				border-bottom: 3px solid @color-swatch1;
			}
		}
	
		// Description
		.menu-item-description {
			font-family:  @font-swatch1-font-family;
		}

		// Nutritions
		.menu-item-nutritional-title {
			font-size: bkscale(@font-swatch3-font-size, 0.5);
			font-family:  @font-swatch5-font-family;
			line-height: 1.2;
		}
		.menu-item-nutritional-prop, .menu-section-item-dietary-props {
			font-size: bkscale(@font-swatch3-font-size, 0.5);
			font-family:  @font-swatch5-font-family;
			line-height: 1.2;

		}
		.menu-item-nutritional-prop {
			
		}
		// Dietary props
		.menu-section-item-dietary-props {
			.dietary-icon {
				&:before {
					content: '*';
					color: @color-swatch1;
					font-size: 1.8em;
					font-weight: bold;
					position: relative;
					top: 0.2em;
				}
			}
		}
	}
	// Sub Section
	.menu-subsection {
		.menu-subsection-wrapper {
			margin-bottom: @block-v-space;
			&.menu-subsection-promoted {
				border: 3px solid @color-swatch1;
				padding: 1em;
			}
		}
	}
	// Menu info
	.menu-info {
		border-top: 1px solid lighten(@color-swatch5, 45%);
	}

}


// BLOG WIDGETS =============================================================================================

// ======= Widget: Blog Spot
.widget.blogpost {
	
}

// Blog Post Item
.blog-post-item {
    margin-bottom: @block-v-space;
    .blog-post-feature-image-wrap {
        background-size: cover;
        background-repeat: no-repeat;
        height: 400px;
        background-position: center;
        margin: 0 auto 2em;
        img {
            display: none;
        }
    }
}

// ======= Widget: Blog List Posts
.bloglistposts {
	margin-bottom: @block-v-space;

	// Blog Post Item
	.blog-post-item {
		.blog-post-feature-image-wrap {
			height: 250px;
			background-size: cover;
			background-position: center;
			img {
				display: none;
			}
		}
		.blog-post-title {
			
		}
		.blog-post-body {
			
		}
	}

	// Blog List Footer
	.blog-list-footer {
		border-top: 3px solid @color-swatch1;
		font-size: bkscale(@font-swatch5-font-size, 1.3);
		font-family: @font-swatch3-font-family;
		padding: 1em 0 0 0;
	}
}


// ======= Widget: BlogSearch
.widget.blogsearch {
	margin-bottom: @block-v-space;
    form {
        label {
            display: block;
        }
        input {
            border: 1px solid darken(@color-swatch3,10%);
            height: 37px;
            margin: 0 5px 5px 0;
            width: 40%;
            -webkit-appearance: none;
            -webkit-border-radius: 0px;
            -moz-border-radius: 0px;
            border-radius: 0px;
			vertical-align: top;
            box-shadow: 0px 3px 0px 0px darken(@color-swatch2, 10%);
			vertical-align: top;
        }

        button {
            padding: 8px 14px;
            font-family: @font-swatch7-font-family;
            color: @font-swatch7-color;
            font-size: @font-swatch7-font-size;
            font-weight: @font-swatch7-font-weight;
            line-height: @font-swatch7-line-height;
            background-color: @font-swatch7-background-color;
            border: none;
            vertical-align: top;
            margin: 0;
            &:hover {
                background-color: @font-swatch7-background-color-hover;
            }
        }
    }
}




// E-COM WIDGETS =============================================================================================



// ======= Widget: e-com Basket
.widget.ecombasket {
	margin-bottom: (@block-v-space / 2);

	p {
		padding: 0;
	}
	
	.ecombasket-pull {
		height: (@font-swatch7-font-size * 3.5);
		line-height: (@font-swatch7-font-size * 3.5);
		padding: 0;
		.basket-count, p {
			font-weight: 400;
			padding: 0;
			margin: 0;
		}
		p {
			line-height: (@font-swatch7-font-size * 3.5);
		}
	}


	&.show-content .ecombasket-list-container {
		background: fade(@color-swatch1, 10%);
		padding: 16px;
		position: relative;
		margin-top: 47px;

		p {
			padding: 0;
		}

		@media @mobile {
			padding: 20px;
		}

		// Top arrow
		&:before {
			content: "";
			display: block;
			position: absolute;
			line-height: 40px;
			top: -27px;
			left: 57px;
			width: 0;
			height: 0;
			border-style: solid;
			border-width: 0 20.5px 27px 20.5px;
			border-color: transparent transparent fade(@color-swatch1, 10%) transparent;
		}
	}

	// Open basket
	.ecombasket-list-container {
		.clearfix;
		ul {
			li {
				position: relative;
				float: none;
				border-bottom: 1px solid @color-swatch1;
				padding: 0 0 20px 0;
				margin: 0 0 20px 0;
				min-height: 102px;

				.ecombasket-item-image {
					float: none;
					position: absolute;
					top: 0;
					left: 0;
					margin-top: 0;
					margin-right: 0;
					border: 9px solid @color-swatch1;
					width: 100px;
					height: 100px;
					@media only screen and (max-width : 460px) {
						width: 60px;
						height: 60px;
						border: 4px solid @color-swatch1;
					} 
				}
				.ecombasket-item-info {
					margin-left: 120px;
					@media only screen and (max-width : 460px) {
						margin-left: 75px;
					} 

					.ecombasket-item-title {
						display: block;
						margin-bottom: 0.3em;
					}
					.ecombasket-item-count-wrapper {
						font-family: @font-swatch5-font-family;
						font-size: bkscale(@font-swatch5-font-size, 0.8);
						line-height: bkscale(@font-swatch5-line-height, 0.8);
					}
					.ecombasket-item-price {
						color: darken(@color-swatch5, 50%);
						display: block;
						margin-bottom: 0.3em;
					}
					.ecombasket-remove-button {
						background-color: @color-swatch3;
						color: @font-swatch7-color;
						display: inline-block;
						font-size: bkscale(@font-swatch5-font-size, 0.8);
						text-decoration: none;
						padding: 0 0.6em;
						line-height: 1.4;
						border: none;
						&:hover {
							 background-color: @font-swatch7-background-color-hover;
						}
					}
				}
			}
		}
		.ecombasket-total-wrap {
			float: left;
			@media only screen and (max-width : 460px) {
				float: none;
			} 
			p {
				font-size: bkscale(@font-swatch5-font-size, 1.12);
				line-height: @font-swatch7-line-height;
				@media only screen and (max-width : 460px) {
					font-size: bkscale(@font-swatch5-font-size, 1);
				} 

				.ecombasket-total {

				}
			}
		}
		.ecombasket-summary-wrap {
			float: right;
			margin: 0;
			@media only screen and (max-width : 460px) {
				float: none;
			} 
		}
	}
}




// ======= Widget: e-com Product List
.widget.ecomproductslist {
	margin-bottom: @block-v-space;
	.ecom-productslist-products {
		// Filter
		.productlist-filter {
			margin-bottom: (@block-v-space / 2);
			.productlist-display-form {
				text-align: center;
				margin-bottom: (@block-v-space / 2);
				@media @mobile {
					background: @color-swatch1;
					padding: 6px 0 6px 15px;
				}

				// Filter Group
				.form-group {
					margin-right: 1em;
					display: inline-block;
					vertical-align: bottom;
					margin-bottom: 20px;
					text-align: left;
					@media @mobile {
						display: block;
						margin-bottom: 10px;

					}
					label {
						display: block;
						font-size: bkscale(@font-swatch5-font-size, 0.8);
					}
					


	               


	                // Search form
	                &.productlist-search {
	                	position: relative;
	                	top: 1px;
	                	margin-left: 1em;
	                	@media @mobile {
	                		margin-left: 0;
	                		margin-top: 26px;
	                	}

	                	input {
	                		width: auto;
	                		vertical-align: top;
	                		line-height: 23px;
	                		margin: 0;
	                		@media @mobile {
		                		width: 100%;
		                		margin-bottom: 10px;
		                	}
	                	}
	                	button {
	                		margin: 0;
	                		line-height: 19px;
	                		vertical-align: top;
	                		box-shadow: none;
	                	}
	                }
				}
			}
		}

		.productlist-item-count {
			text-align: center;
			color: fade(@color-swatch5, 60%);
			font-size: bkscale(@font-swatch5-font-size, 0.8);
		}
		
		// Product Item
		.ecom-productslist-product {

			a {
				display: block;
				padding: 16px;
				border: 1px solid fade(@color-swatch5, 16%);
				&:hover {
					border-color: @color-swatch3;
					text-decoration: none;
				}
			}
			// Image
			.ecom-productslist-image-wrap {
				background-color: @color-swatch2;
				margin-bottom: 26px;
				position: relative;
				overflow: visible;

				&:after {
					background: @color-swatch1;
					content: '';
					display: block;
					height: 3px;
					position: absolute;
					bottom: -16px;
					width: 100%;
				}

				.ecom-productslist-image {
					// hidden
				}
			}
			// Title
			.ecom-productslist-title {
					font-size: bkscale(@font-swatch2-font-size, 0.6);
			}
			// Price
			.ecom-productlist-price {
				color: @color-swatch5;
			}
		}
	}
}



// ======= Widget: e-com Product Detail
.widget.ecomproduct {
	margin-bottom: @block-v-space;
}









// ======= Widget: e-com Categories List
.widget.ecomcategorieslist {
	margin-bottom: @block-v-space;
}


// ======= Widget: e-com Featured Products
.widget.ecomfeaturedproducts {
	
	.ecom-featuredproducts-header {
		h2 {
			text-align: center;
		}
	}

	// Products
	.ecom-featuredproducts-wrap {
		margin-bottom: @block-v-space;
		// Product
		.ecom-featuredproducts-product {
			// Image
			.ecom-featuredproducts-image-wrap {
				margin-bottom: 26px;
				background-color: @color-swatch2;
				.ecom-featuredproducts-image {
					// hidden
				}
			}
			// Product info
			.ecom-featuredproducts-info {
				// Title
				.ecom-featuredproducts-title {
					text-align: center;
					font-size: bkscale(@font-swatch2-font-size, 0.6);
				}
				// Price
				.ecom-featuredproducts-price {
					color: @color-swatch5;
				}
			}
		}
	}
}





// ======= Widget: e-com Basket Summary
@bp-checkout-compact: ~"only screen and (max-width : 820px)";

.widget.ecombasketsummary {
	// Title
	.basket-summary-title {
		border-bottom: 5px solid @color-swatch1;
		@media @mobile {
			border-bottom: 4px solid @color-swatch1;
		}
	}

	// Empty basket
	.basket-summary-empty-copy {
		margin: 2em 0;
	}

	// Checkout Items
	table.basket-summary-items-table {
		border-spacing: 0;
        width: 100%;


		tr {
			@media @mobile {
				display: block;
			}
			td, th {
				padding: 20px 0;
				border-bottom: none;
				@media @mobile {
					display: block;
					padding: 10px 0 0 0;
				}
			}
			td {

			}
			th {

			}
		}

		// Table Head
		tbody tr:first-child {
			@media @mobile {
				display: none;
			}
			th {
				border-bottom: 1px solid @color-swatch1;
				&:nth-child(2) {
					border-right: 1px solid @color-swatch1;
				}
				
			}
		}
		// Item
		tr.basket-summary-items {
			@media @mobile {
				position: relative;
				border-top: 1px solid @color-swatch1;
				padding: 0 0 10px 0;
				margin: 0 0 10px 0;

			}

			td {
				border-bottom: 1px solid @color-swatch1;
				@media @mobile {
					border-bottom: none;
				}
			}
			// Image
			td:nth-child(1) {
				@media @mobile {
					width: auto;
				}
				.image-wrap {
					width: 100%;
					height: 0;
					padding-bottom: 100%;
					float: none;
					background-size: cover;
					background-position: center;
					@media @mobile {
						padding-bottom: 0;
						height: auto;
						background-position: -1000px;
					}
					img {
						display: none;
						@media @mobile {
							display: block;
							width: 60%;
							height: auto;
						}
					}
				}
			}
			// Product info
			td:nth-child(2) {
				padding-left: 1em;
				padding-right: 170px;
				vertical-align: top;
				position: relative;
				border-right: 1px solid @color-swatch1;
				@media @bp-checkout-compact {
					padding-right: 0;
				}
				@media @mobile {
					width: auto;
					padding-left: 0;
					border-right: none;
				}
				// Name
				.basket-summary-productname {
					font-size: @font-swatch5-font-size;
					display: block;
					@media @mobile {
						font-size: bkscale(@font-swatch5-font-size, 0.8);
					}
					
				}
				// Price
				.basket-summary-pricepu {
				}
				// Quantity label
				.basket-summary-quantity {
					width: 150px;
					position: absolute;
					right: 20px;
					display: block;
					top: 10px;
					line-height: 30px;
					text-align: center;
					font-size: bkscale(@font-swatch5-font-size, 0.8);
					@media @bp-checkout-compact {
						position: relative;
						right: 0;
						top: 0;
						width: 130px;
					}
				}
				// Quantity button
				.basket-summary-quantitybtn {
					background-color: transparent;
					margin: 0;
					position: relative;
					width: 150px;
					height: 40px;
					@media @bp-checkout-compact {
						position: relative;
						right: 0;
						top: 0;
					}
					@media @mobile {
						height: 30px;
						width: 130px;
					}
					button {
						font-family: @font-swatch5-font-family;
						font-weight: 700;
						font-size: 16px;
						line-height: 40px;
						border: none;
						cursor: pointer;
						padding: 0;
						position: absolute;
						top: 0;
						width: 40px;
						height: 40px;
						box-shadow: none;


						@media @mobile {
							width: 30px;
							height: 30px;
							line-height: 30px;
						}
					

						&.js-remove {
							left: 0;
						}
						&.js-add {
							right: 0;
						}
					}
					// Count
					span {
						background-color: darken(@color-swatch2, 6%);
						color: darken(@color-swatch2, 80%);
						height: 40px;
						line-height: 40px;
						position: absolute;
						left: 40px;
						right: 40px;
						text-align: center;
						top: 0;
						display: block;
						width: 70px;
						@media @mobile {
							height: 30px;
							line-height: 30px;
							left: 30px;
							right: 30px;
						}
					}
				}
			}
			td.basket-summary-amount {
				text-align: right;
				@media @mobile {
					text-align: left;
					position: absolute;
					right: 0;
					bottom: 20px;
				}
			}
		}

		// Sub Total
		tbody tr:last-child {
			td {
				font-size: @font-swatch4-font-size;
				border-top: 5px solid @color-swatch2;
				@media @mobile {
					text-align: left;
					border-top: none;
					font-size: bkscale(@font-swatch4-font-size, 0.9);
				}
				&.basket-summary-subtotal {
					text-align: right;
					@media @mobile {
						border-top: 5px solid @color-swatch1;
					}
				}
			}
		}
	}





	

	// Legal links
	.basket-summary-legal-links {
		margin-top: 2em;
	}
}











